.datepicker-react input {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 15px 8px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
