.review {
  display: flex;
  padding-bottom: 20px;

  &__image {
    width: 48px;
    height: 48px;
    margin-bottom: 9px;
  }

  &__content {
    margin-left: 10px;
  }

  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__date {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}
