.searchform {
  display: flex;
  flex-direction: column;
  width: 380px;
  background: rgb(255, 255, 255);
  padding: 40px 30px 30px 30px;
  @media (max-width: 576px) {
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1f2041;
    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__guest {
    width: 100%;
  }

  &__select {
    display: flex;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 15px 8px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__link {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  &__button {
    width: 100%;
  }
}
