.container__header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 20px;
}

.header__mr20 {
  margin-right: 20px;
}
