.banner-registration {
  display: flex;
  height: calc(100vh - 70px);
  min-height: 750px;
  background: url(../../images/banner02.jpg) no-repeat center / cover;
}

.container--registration {
  display: flex;
  justify-content: center;
  align-items: center;
}
