.container__room-details {
  display: flex;
  padding-top: 70px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.room-details {
  display: flex;

  &__info {
    @media (max-width: 992px) {
      margin-bottom: 50px;
    }

    @media (max-width: 576px) {
      margin: 0px;
    }
  }

  &__review {
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-direction: column;
      margin-bottom: 20px;
      text-align: center;
    }

    &-title {
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      color: #1f2041;
      margin-bottom: 20px;

      @media (max-width: 576px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    &-count {
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      color: rgba(31, 32, 65, 0.5);

      @media (max-width: 576px) {
        text-align: center;
      }
    }
  }

  &__rules-revoke {
    display: flex;
    margin: 10px 0px 70px;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__rules {
    flex-basis: calc(50% - 35px);
    margin-right: 70px;
    padding-left: 20px;

    @media (max-width: 576px) {
      margin-right: 0px;
      margin-bottom: 30px;
    }

    &-list {
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      &-item {
        position: relative;
      }
      &-item::before {
        position: absolute;
        content: "";
        background: rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        left: -15px;
        top: 6px;
      }
    }
  }

  &__rules-list {
    display: flex;
    flex-direction: column;
  }

  &__revoke {
    flex-basis: calc(50% - 35px);

    @media (max-width: 576px) {
      padding-left: 20px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1f2041;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__form {
    width: 380px;
    margin-left: 70px;
    flex-shrink: 0;

    @media (max-width: 768px) {
      order: -1;
      margin: 0px auto 40px;
    }

    @media (max-width: 576px) {
      order: -1;
      width: 100%;
      margin-left: 0px;
    }
  }
}
